
<%- include partials/header.ejs %>

<section id="introduction" class="section">
	<div class="section_contatiner">
		<h1> About Me</h1>
		<div class="introduction">
			<div class="intro">
				<img src="assets/images/mypic.jpeg" alt="people" class="introduction_avatar"/>
				<div class="introduction_speech-bubble">
					<p>
						My name is Husna Bakhshi from Afghanistan. I came to Canada in September 2018. My education in backhome is bachelor degree in 
                            public Health. I also worked in Ministry of Public Health for 3 years. I am pursing Health Informatics Technology in Centennial College
                            which is close to my bakground and also related to IT.  
							<br/>
							<br/>
							Aout my personal life; I am married to my love of life which I met in here. I live a happy life with him. But my family is away from me.
                            My 3 sister, 3 bothers, Mom and Dad are in Afghanistan. My wish is to invite them here to have peaceful life. 
							<br/>
							<br/>
							Like everybody else, I have a dream! To become a great and recognized developer in relation to health. 
                            In the future I want to work as national or international web developer. 
					</p>
				</div>
			</div>
		</div>
	</div>
	<a href="https://docs.google.com/document/d/1SA82ysHOZMtea2cneXYCXuNPhQM79kR5jByOO-div7Q/edit?usp=sharing"/>
	<button class="pdf" type="button"> Resume </button></a>
</section>

	