<
		<%- include partials/header.ejs %>
	
		<section id="services">
			<div class="container">
				<h1 class="text-center">Services</h1>
				<div class="row">
					<div class="col-lg-4 mt-4">
						<div class="card servicesText">
							<div class="card-body">
								<i class="fas servicesIcon fa-clock"></i>
								<img src="assets/html.png" alt="Web Development" class="project_img">
								<h4 class="card-title mt-3">Website Development</h4>
								<p class="card-text mt-3">I am here to develpe Ecommerce websites. Ecommerce websites allow users to shop for and purchase products or services online,
									Personal websites, portfolio websites, small business and bolg websites. 
								</p>
							</div>
						</div>  
					</div>
					<div class="col-lg-4 mt-4">
						<div class="card servicesText">
							<div class="card-body">
								<i class='fas servicesIcon fa-layer-group'></i>
								<h4 class="card-title mt-3">Website Design</h4>
								<p class="card-text mt-3"> Following are 5 of the important web design principles that will help you 
									understand and develop perfect design for your business website.
								</br>
									- Simplest explanation is usually true
								</br>
									- F pattern layout
								</br>
									- Visual hierarchy
								</br>
									- The use of images
								</br>
									- Clarity of purpose.  
								</p>
							</div>
						</div>  
					</div>
	
				<div class="row">
					<div class="col-lg-4 mt-4">
						<div class="card servicesText">
							<div class="card-body">
								<i class='fas servicesIcon fa-search'></i>
								<h4 class="card-title mt-3">SEO</h4>
								<p class="card-text mt-3">
								</p>
							</div>
						</div>  
					</div>
	
					<div class="col-lg-4 mt-4">
						<div class="card servicesText">
							<div class="card-body">
								<i class='fas servicesIcon fa-shield-alt'></i>
								<h4 class="card-title mt-3">DevOps</h4>
								<p class="card-text mt-3">
								</p>
							</div>
						</div>  
					</div>
	
					<div class="col-lg-4 mt-4">
						<div class="card servicesText">
							<div class="card-body">
								<i class='fas servicesIcon fa-wrench'></i>
								<h4 class="card-title mt-3">QA</h4>
								<p class="card-text mt-3">
								</p>
							</div>
						</div>  
					</div>
				</div>
			</div>
		</section>

	
		
		