 
	<%- include partials/header.ejs %>

	<%- include partials/main_nav.ejs %>

	


	<main class="container">
		<div class="jumbotron">
			<div class="container-fluid bg-light text-dark p-5">
			<h1 class="display-4">Husna Bakhshi Portfolio</h1>
		</div>
	</div>
			<div class="curved-bg-div wow  fadeIn animated" data-wow-delay="0.15s" style="visibility: visible; animation-delay: 0.15s; animation-name: fadeIn;"></div>
			<div style="margin-bottom: 200px; margin-left: 200px; margin-right: 200px; text-align: center;">
				<h4 class="normal_title">Mission</h4>
				<p style="font-size: 25px;">Deliver useful projects in every level specially health section!</p>
				<a href="/about" class="link_text">Here is more about me</a>
			</div>
	</main>
  
	<%- include partials/bottom.ejs %> 

	<%- include partials/footer.ejs %>
	
	
	
